<p id="notice"><%= notice %></p>

<div class="menu">
	<ul id="menu">
	  <% Page.roots.each do |page| %>
	    <li><%= link_to page.title, display_url(page.path), class: ("active" if @page.root == page) %></li>
	  <% end %>
	</ul>
</div>

<p><% @page.ancestors.each do |x| %>
	<%= link_to x.title, display_url(x.path) %>
<% end %></p>


<div id="submenu">
  <%= render 'submenu_pages', pages: @page.children %>
</div>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Content:</b>
  <%= @page.content %>
</p>

<p>
  <b>Parent:</b>
  <%= @page.parent_id %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
