<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Content:</b>
  <%= @category.content %>
</p>

<p>
  <b>Parent:</b>
  <%= @category.parent_id %>
</p>

<p>
  <b>Path:</b>
  <%= @category.path %>
</p>

<p>
  <b>Slug:</b>
  <%= @category.slug %>
</p>

<b>Itemas:</b>
<ul>
  <% @category.items.each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
